#Form{
	align-content: center;
	border:10px;
	border-radius:5px;
	background-color:#52cc00;
	width:450px;
	height:700px;
	border-color:black;
	margin:auto;
	padding:3px;
	padding-left:5px;
}
body{
	background-image:url("iNH9HZTSN.jpg");
}
.error{
	background-color:red;
}
#events{
	text-align:center;
}
